h4{
	color: red;
	font-size: 20px;
	padding: 15px;
}
h2{
	color:rgb(157,19,19);
	font-size: 40px;
	padding: 15px;
}
img{
	width: 600px;
	height: 400px;
}
body{
	background-color: black;
	border:solid;
	border-color: white;
    width: 1400px;
    height:1000px;
}
a{
	color: white
}
.Millie{
    width: 150px;
	height: 190px;
}
.Finn{
    width: 190px;
	height: 200px;
}
td, tr, table{
	color: red;
	font-size: 20px;
	padding: 15px;
}